@import 'base';

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	@include no-margin;
	@include flex-center;
}

main {
	display: grid;
	width : 50%;
	height: 50%;
	grid-template-columns: 50% 50%;
	grid-gap: 10px;
	padding: 10px;
	border: 2px solid darkgray; 
}

button{
	grid-column: 1/3;
}
