* {
  box-sizing: border-box; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

main {
  display: grid;
  width: 50%;
  height: 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
  border: 2px solid darkgray; }

button {
  grid-column: 1/3; }

label {
  font-size: 3em; }
